@import "tailwindcss";
@import '../css/fonts.css';
@import '../css/components/counter.css';
@import '../css/components/notification.css';
@import '../css/components/sidebar.css';

body {
  font-family: 'Messina Sans', sans-serif;
  color: #18191f;
  position: relative;
  min-height: 100vh;
}
